@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Satisfy&family=Supermercado+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Oxanium', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quintessential', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Supermercado One', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0;
}

h1{
    font-weight: 500;
}

section:not(.first) {
    height: 100vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    height: 100vh;
}

.second{ background-color:#5B63B7;}
.third{ background-color:#5B63B7;}
.third{ background-color:#ED5E93; }
.third{ background-color:#5B63B7;}
#footer{ background-color:#83402bee; }
#footer{ background-color:#83402b; }

.second .inner{
    padding: 0 1rem;
}

.container{
    min-height: 100vh;
    width: 100vw;
}

.lt,
.gt{
    color: white;
    text-shadow: 0px 0.063rem .3rem rgba(253, 253, 253, 0.613);
    position: relative;
    top:-5px;
}

.curly-brace{
    color: white;
    text-shadow: 0px 0.063rem .3rem rgba(253, 253, 253, 0.613);
    position: relative;
}

.writeup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inner .writeup h1{
    font-family: 'Satisfy', cursive;
    font-size: 7rem;
    margin-top: -10vh;
    text-align: center;
    padding: 1px;
    color: #9296F0;
}

.inner h2{
    text-align: center;
    color: rgba(255, 255, 255, 0.623);   
    font-size: 1.45rem;
    font-family: 'Oxanium', cursive;
    text-transform: uppercase;
}

.inner .writeup h3{
    letter-spacing: 0.4rem;
    text-align: center;
    color: white;
    margin-top: -2rem;    
    text-transform: uppercase;
    font-size: 0.75rem;
    font-family: 'Ubuntu', sans-serif;
}

.letterW{
    font-family: 'Oxanium', cursive;
    color: white;
}

.skillsbars_1{
    width: 340px;
    min-height: 220px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: rgb(91, 99, 183);
    box-shadow: -10px -10px 20px rgba(105, 111, 227, 0.5), 10px 10px 20px rgba(71, 80, 188, 0.4);
    display: flex;
    align-content: center;
    overflow-x: hidden;
    transition: width 1500ms ease-in-out;
}

.skillsbars_2{
    padding: 5px 25px;
    width: 320px;
    min-height: 200px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: rgb(91, 99, 183);
    box-shadow: inset -10px -10px 10px rgba(114, 120, 226, 0.5), inset 10px 10px 10px rgba(71, 80, 188, 0.4);
    overflow-x: hidden;
    transition: width 1500ms ease-in-out;
}

.bars{
    background: rgb(114, 120, 226);
    display: block;
    height: 10px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-top: 10px;
    overflow-x: hidden;    
}

.bars:last-child{
    margin-bottom: 1.5rem;
}

.skillsbars_2 .bars{
    transition: box-shadow 1500ms ease-in-out;
}

.skillsbars_2:hover .bars{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
}

.skillsbars_2:hover h4{
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.24);
}

.html_group{
    transform: translateX(-100%);
    transition-delay: 1s;
    width: 85%;
    animation: html_group 3s;
}

.javascript_group{
    transform: translateX(-100%);
    transition-delay: 1s;
    width: 70%;
    animation: javascript_group 3s;
}

.git_group{
    transform: translateX(-100%);
    transition-delay: 1s;
    width: 80%;
    animation: git_group 3s;
}

@keyframes html_group{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

@keyframes javascript_group{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes git_group{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.eachBar{
    height: 10px;
    float: left;
    background: rgba(255, 255, 255, 0.623);
    border-radius: 0 5px 5px 0;
    transition: all 3s;
    transition-delay: 500ms;
    transform: translateX(0);
}


.skillsbars_2 h4{
    color: #9296F0;
    font-weight: 600;
    font-family: 'Oxanium', cursive;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
    transition: text-shadow 1000ms ease-in-out;
}

.skillsbars_1 h3{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oxanium', cursive;
    color: rgba(255, 255, 255, 0.623);
    font-size: 1.05rem;
    font-weight: 800;
    letter-spacing: 0.35rem;
    margin-top: 1rem;
}

ul li{
    list-style: none;
    margin-top: 20px;
}

.inner h1{
    margin-top: -5vh;
    font-family: 'Oxanium', cursive;
    font-size: 3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.623);
    text-shadow: 0px 0.063rem 1.25rem rgba(0, 0, 0, 0.486);
}

.para_content{
    font-size: 1.3rem;
    text-shadow: 0px 0.05rem 0.75rem rgba(0, 0, 0, 1);
    line-height: 5vh;
    font-weight: 500;
    text-align: center;
    color: rgb(150, 191, 226);
}

h2.subtitle{
    font-size: 1rem;
    margin-top: 0.0625rem;
}

.first,
.second{
    height: 100vh;
    width: 100vw;
}

.first img{
    width: 7rem;
    position: absolute;
    top:1rem;
    left: 1rem;
    box-shadow: 0px 0.063rem 0.25rem rgba(255, 255, 255, 0.61);
    border: none;
    border-radius: 25%;
    padding: 5px 20px;
}

.logo{
    background-color: rgba(255, 255, 255, 0.61);
}

.first .skills img{
    padding: 10px 10px;
}

img .logo{
    cursor: pointer;
}

.landing{
    // background: url('https://otavie.github.io/portfolio_v2/img/v.jpg');
    background: url('/img/v.jpg');
    background-size: cover;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    width: 100vw;
    transition: background 5s ease-in-out;
    transition-delay: 7s;
}

.landing .skills img{
    height: 55px;
    width: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
}

.landing .skills{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.landing .img{
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: start;   
}

.desktop{
    display: none;
}

/*===== PROJECT SCSS =====*/


.third .inner h1{
    margin-top: -50px;
}

#project-container{
    margin-top: 0 auto;
    height: 80vh;
    height: 80%;
    width: 90vw;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#project-button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-button{
    cursor: pointer;
    height: 40px;
    width: 33.2%;
    border: none;
    outline: none;
    background-color: #5B63B7;
    font-family: 'Satisfy', cursive;
    font-size: 1.1rem;
    color: #ccc;
    transition: color 750ms ease-in-out, background-color 750ms ease-in-out;
    z-index: 1;
}

.project-button:hover{
    color: #fff;
}

.project-button.active-project{
    background-color: #5b65d4;
    color: #fff;
}

.project-container{
    margin-top: 20px;
    display: flex; 
    height: 55vh;
    flex-direction: column;
}

.project-write {
    flex-grow: 1.2;
    flex-shrink: 1;
    flex-basis: 55%;
    padding: 0 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content > h3{
    color: #9296F0;
    font-weight: 600;
    font-family: 'Oxanium', cursive;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    font-size: 1.45rem;
}

.project-write h3{
    margin-top: 15px;
}

.project-description{
    text-align: center;
    color: rgba(255, 255, 255, 0.623);   
    font-family: 'Oxanium', cursive;
}

.project-write p{
    font-size: 1.3rem;
    text-shadow: 0px 0.05rem 0.75rem rgba(0, 0, 0, 1);
    line-height: 5vh;
    font-weight: 500;
    text-align: center;
    color: rgb(150, 191, 226);
}

.project-image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-image img{
    cursor: pointer;
    width: 90%;
    width: 70%;
    object-fit: contain;
    box-shadow: 2px 20px 90px black;
    box-shadow: 0px 20px 90px rgba(0, 0, 0, 0.654);
    transition: transform ease-in-out 500ms;
}

.project-image img:hover{
    transform: scale(0.9);
}

.tools-used{
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
}

.work-in-progress{
    color: #fff;
    font-weight: 900;
    font-size: 0.9rem;
    font-family: 'Satisfy', cursive;
}




/*===== FOOTER SCSS =====*/

#footer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    background-color:#5B63B7;

    p.copyright{
        position: absolute;
        margin-top: 85vh;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-shadow: 1px 0px 10px black;
    }
}

#footer-container{
    width: 100%;
    height: 95%;
    position: relative;
}

.tab-content{
    margin: 0 auto;
    width: 70%;
    width: 70vw;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 40px;
    opacity: 0;
    padding: 6px 50px;
    border-top: none;
    height: calc(100vh - 175px);  
    transition: clip-path 1s ease-in;
    position: absolute;
    background-color: black;
    clip-path: circle(0% at 100% 100%);
    z-index: 0;
}

.tab-content[style*='opacity: 1'] {
    opacity: 1;
    clip-path: circle(400% at 50% 150%);
}

.tab-content.active[style*='opacity: 1']{
    z-index: 1;
}

#send-email-button{
    cursor: pointer;
    right: 20px;
    position: absolute;
    bottom: 30px;
    color: #fff;
    background-color: transparent;
    transition: background ease-in-out 750ms, color ease-in-out 750ms;
    border: none;
    outline: none;
    box-shadow: none;
}

i{
    box-shadow: none;
}

i.fa-solid{
    background-color: #000;
    box-shadow: none;
}

i.fa.fa-envelope{
    background-color: transparent;
    font-size: 1.5rem;
}

i.fa-solid.fa-x{
    font-size: 1.5rem;
    margin-right: 5px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}

#send-email-button:hover{
    color: #ccc;
    background-color: transparent;
    border: none;
    outline: none
}

#contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;

    #non-socials{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 40px;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        line-height: 1.5rem;
        font-size: 0.85rem;
        color: white;
        font-weight: 400;
        // text-shadow: 1px 0 5px rgba(255, 255, 255, 0.5);
        text-align: center;
    }
}

#non-socials__left{
    margin-bottom: 50px;
}

p#front-end-footer{
    font-size: 0.85rem;
}

#socials{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    i{
        cursor: pointer;
        margin: 0 10px;
        font-size: 2rem;
    }
}

.linkedin-logo,
.github-logo{
    display: inline-block;
    border-radius: 10px;
    color: black;
    background-color: #ccc;
    padding: 8px 10px;
    transition: background ease-in-out 1000ms, color ease-in-out 1000ms;
}

.linkedin-logo:hover,
.github-logo:hover{
    background-color: black;
    color: #fff;
}

a.my-resume{
    margin-top: 0.75rem;
    text-decoration: none;
    color: #ccc;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Oxanium', cursive;
    transition: all ease-in-out 750ms;
}

a.my-resume:not(.view):hover{
    transform: scale(1.1);
}

.view{
    font-size: 0.9rem;
    font-weight: 600;
    color: #ccc;
    font-family: 'Oxanium', cursive;
}


::placeholder{
    color: rgb(147, 143, 143);
}

.contact_area_info{
    flex-grow: 1;
    width: 100%;
    text-align: center;

    button{
        margin-top: 5px;
        font-family: 'Oxanium', cursive;
        width: 200px;
        height: 45px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: rgb(173, 167, 167);
        background: #000;
        border-radius: 15px;
        border-bottom: 1px solid white;
        border-left: none;
        border-right: none;
        border-top: none;
        cursor: pointer;
        padding: 10px 30px;
        transition: all ease-in-out 500ms;
    }

    button:hover{
        background: #000;
        color: #fff;
        text-shadow: none;
        font-weight: 600;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid white;
    }
}
  
form{
    transition: all 2s ease-in-out;
}
  
.contact_area_info{
    min-height: 300px;
    font-family: 'Oxanium', cursive;
    padding: 10px;
}
  
#the_form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 220px);
    width: 100%;

    input, textarea{
        color: white;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        padding: 7px;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(173, 167, 167);
        font-family: 'Oxanium', cursive;
        letter-spacing: 1px;
        margin: 10px 0px;
    }
  
    input:focus, textarea:focus{
        border-bottom: 1px solid #fff;
    }
  
    input{
        height: 18px;
        width: 300px;
    }
  
    textarea{
        height: 200px;
        max-height: 200px;
        line-height: 22px;
        width: 300px;
    }
}
  

@media screen and (min-width: 450px) { 

    
    #contact-me #non-socials{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 40px;
    }

    
    
    .landing{ 
        // background: url('https://otavie.github.io/portfolio_v2/img/h.jpg');
        background: url('/img/h.jpg');
        background-size: cover;
        background-position:center;
        background-attachment: fixed;
        transition: background 5s ease-in-out;
        transition-delay: 7s;
    }

}

@media screen and (min-width: 600px) {    
    
    .project-write h3{
        margin-top: 0;
    }

    .project-write {
        flex-grow: 1;
        flex-basis: 50%;
    }
    
    .project-image {
        flex-grow: 1;
        max-width: 100%;
        min-height: 45%;
    }
    
    .project-image img{
        width: 100%;
        object-fit: contain;
        box-shadow: none;
    }



    .project-container{
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .second .inner{
        padding: 0 0rem;
    }

    .logo{
        background-color: rgba(255, 255, 255, 0.61);
        z-index: 1;
    }
    
    .first .skills img{
        padding: 10px 10px;
    }
    
    .inner .writeup h1{
        font-family: 'Satisfy', cursive;
        font-size: 10rem;
    }

    .inner .writeup h3{
        letter-spacing: 0.4rem;
        margin-top: -2.5rem;  
        font-size: 1.16rem;  
    }
 
    .para_content{
        font-size: 1.25rem;
        line-height: 7vh;
        padding: 0 1.5rem;
    }
    
    section{
        height: 100vh;
    }

    .inner h1{
        font-size: 4rem;
    }
   
}

@media screen and (min-width: 800px) {
    /*===== PROJECT SCSS =====*/
    #project-container{
        width: 85vw;
    }




    /*===== FOOTER SCSS===== */

    #footer-container{
        width: 80%;
    }

    #send-email-button{
        cursor: pointer;
        right: -60px;
        bottom: 10px;
    }    

    #contact-me{
        h3{
            font-size: 1.5rem;
        }

        p{
            font-size: 0.9rem;
        }
    }


    #the_form{
        input{
            height: 18px;
            width: 520px;
          }
        
          textarea{
            line-height: 22px;
            width: 520px;
          }
    }
      
    h2.subtitle{
        font-size: 1.2rem;
        margin-top: -0.625rem;
    }

    .para_content{
        font-size: 1.35rem;
        line-height: 6vh;
        padding: 0 1rem;
    }

    .inner h1{
        font-size: 4rem;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    
    .skillsbars_1{
        width: 620px;
        transition: all 1500ms ease-in-out;
    }

    .skillsbars_2{
        width: 600px;
        transition: all 1500ms ease-in-out;
    }

}

@media screen and (min-width: 900px) {
    .para_content{
        font-size: 1.4rem;
        padding: 0 1.5rem;
    }

    .inner h1{
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 910px) {
    .para_content{
        padding: 0 5rem;
    }
}

@media screen and (min-width: 1000px) {
    .para_content{
        padding: 0 7rem;
    }
}


@media screen and (max-width: 395px) {
    #send-email-button{
        bottom: 25px;
        z-index: 2;
        border: none;
        outline: none;
        padding: 0px;
    }

}