@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Satisfy&family=Supermercado+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Oxanium', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quintessential', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Supermercado One', cursive;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Kurenaido', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-weight: 500;
}

section:not(.first) {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  height: 100vh;
}

.second {
  background-color: #5B63B7;
}

.third {
  background-color: #5B63B7;
}

.third {
  background-color: #ED5E93;
}

.third {
  background-color: #5B63B7;
}

#footer {
  background-color: #83402bee;
}

#footer {
  background-color: #83402b;
}

.second .inner {
  padding: 0 1rem;
}

.container {
  min-height: 100vh;
  width: 100vw;
}

.lt,
.gt {
  color: white;
  text-shadow: 0px 0.063rem 0.3rem rgba(253, 253, 253, 0.613);
  position: relative;
  top: -5px;
}

.curly-brace {
  color: white;
  text-shadow: 0px 0.063rem 0.3rem rgba(253, 253, 253, 0.613);
  position: relative;
}

.writeup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.inner .writeup h1 {
  font-family: 'Satisfy', cursive;
  font-size: 7rem;
  margin-top: -10vh;
  text-align: center;
  padding: 1px;
  color: #9296F0;
}

.inner h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.623);
  font-size: 1.45rem;
  font-family: 'Oxanium', cursive;
  text-transform: uppercase;
}

.inner .writeup h3 {
  letter-spacing: 0.4rem;
  text-align: center;
  color: white;
  margin-top: -2rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: 'Ubuntu', sans-serif;
}

.letterW {
  font-family: 'Oxanium', cursive;
  color: white;
}

.skillsbars_1 {
  width: 340px;
  min-height: 220px;
  margin: 15px auto;
  border-radius: 10px;
  background-color: #5b63b7;
  -webkit-box-shadow: -10px -10px 20px rgba(105, 111, 227, 0.5), 10px 10px 20px rgba(71, 80, 188, 0.4);
          box-shadow: -10px -10px 20px rgba(105, 111, 227, 0.5), 10px 10px 20px rgba(71, 80, 188, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow-x: hidden;
  -webkit-transition: width 1500ms ease-in-out;
  transition: width 1500ms ease-in-out;
}

.skillsbars_2 {
  padding: 5px 25px;
  width: 320px;
  min-height: 200px;
  margin: 5px auto;
  border-radius: 10px;
  background-color: #5b63b7;
  -webkit-box-shadow: inset -10px -10px 10px rgba(114, 120, 226, 0.5), inset 10px 10px 10px rgba(71, 80, 188, 0.4);
          box-shadow: inset -10px -10px 10px rgba(114, 120, 226, 0.5), inset 10px 10px 10px rgba(71, 80, 188, 0.4);
  overflow-x: hidden;
  -webkit-transition: width 1500ms ease-in-out;
  transition: width 1500ms ease-in-out;
}

.bars {
  background: #7278e2;
  display: block;
  height: 10px;
  border-radius: 0 5px 5px 0;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-top: 10px;
  overflow-x: hidden;
}

.bars:last-child {
  margin-bottom: 1.5rem;
}

.skillsbars_2 .bars {
  -webkit-transition: -webkit-box-shadow 1500ms ease-in-out;
  transition: -webkit-box-shadow 1500ms ease-in-out;
  transition: box-shadow 1500ms ease-in-out;
  transition: box-shadow 1500ms ease-in-out, -webkit-box-shadow 1500ms ease-in-out;
}

.skillsbars_2:hover .bars {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
}

.skillsbars_2:hover h4 {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.24);
}

.html_group {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  width: 95%;
  -webkit-animation: html_group 3s;
          animation: html_group 3s;
}

.javascript_group {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  width: 75%;
  -webkit-animation: javascript_group 3s;
          animation: javascript_group 3s;
}

.git_group {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  width: 85%;
  -webkit-animation: git_group 3s;
          animation: git_group 3s;
}

@-webkit-keyframes html_group {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes html_group {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@-webkit-keyframes javascript_group {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes javascript_group {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@-webkit-keyframes git_group {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes git_group {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

.eachBar {
  height: 10px;
  float: left;
  background: rgba(255, 255, 255, 0.623);
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 3s;
  transition: all 3s;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.skillsbars_2 h4 {
  color: #9296F0;
  font-weight: 600;
  font-family: 'Oxanium', cursive;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  -webkit-transition: text-shadow 1000ms ease-in-out;
  transition: text-shadow 1000ms ease-in-out;
}

.skillsbars_1 h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oxanium', cursive;
  color: rgba(255, 255, 255, 0.623);
  font-size: 1.05rem;
  font-weight: 800;
  letter-spacing: 0.35rem;
  margin-top: 1rem;
}

ul li {
  list-style: none;
  margin-top: 20px;
}

.inner h1 {
  margin-top: -5vh;
  font-family: 'Oxanium', cursive;
  font-size: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.623);
  text-shadow: 0px 0.063rem 1.25rem rgba(0, 0, 0, 0.486);
}

.para_content {
  font-size: 1.3rem;
  text-shadow: 0px 0.05rem 0.75rem black;
  line-height: 5vh;
  font-weight: 500;
  text-align: center;
  color: #96bfe2;
}

h2.subtitle {
  font-size: 1rem;
  margin-top: 0.0625rem;
}

.first,
.second {
  height: 100vh;
  width: 100vw;
}

.first img {
  width: 7rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-box-shadow: 0px 0.063rem 0.25rem rgba(255, 255, 255, 0.61);
          box-shadow: 0px 0.063rem 0.25rem rgba(255, 255, 255, 0.61);
  border: none;
  border-radius: 25%;
  padding: 5px 20px;
}

.logo {
  background-color: rgba(255, 255, 255, 0.61);
}

.first .skills img {
  padding: 10px 10px;
}

img .logo {
  cursor: pointer;
}

.landing {
  background: url(https://otavie.github.io/portfolio_v2/img/v.jpg);
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  -webkit-transition: background 5s ease-in-out;
  transition: background 5s ease-in-out;
  -webkit-transition-delay: 7s;
          transition-delay: 7s;
}

.landing .skills img {
  height: 55px;
  width: 55px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.13);
}

.landing .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.landing .img {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.desktop {
  display: none;
}

/*===== PROJECT SCSS =====*/
.third .inner h1 {
  margin-top: -50px;
}

#project-container {
  margin-top: 0 auto;
  height: 80vh;
  height: 80%;
  width: 90vw;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#project-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-button {
  cursor: pointer;
  height: 40px;
  width: 33.2%;
  border: none;
  outline: none;
  background-color: #5B63B7;
  border-left: 1px solid white;
  font-family: 'Satisfy', cursive;
  font-size: 1.1rem;
  color: #ccc;
  -webkit-transition: color 750ms ease-in-out, background-color 750ms ease-in-out;
  transition: color 750ms ease-in-out, background-color 750ms ease-in-out;
  z-index: 1;
}

.project-button:hover {
  color: #fff;
}

.project-button.active-project {
  background-color: #000;
  background-color: #3f79ac;
  background-color: #5B63B7;
  background-color: #7b83d8;
  background-color: #5b65d4;
  color: #fff;
}

.project-button:last-child {
  border-right: 1px solid white;
}

.project-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-write {
  -webkit-box-flex: 1.2;
      -ms-flex-positive: 1.2;
          flex-grow: 1.2;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding: 0 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-content > h3 {
  color: #9296F0;
  font-weight: 600;
  font-family: 'Oxanium', cursive;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-size: 1.45rem;
}

.project-write h3 {
  margin-top: 15px;
}

.project-description {
  text-align: center;
  color: rgba(255, 255, 255, 0.623);
  font-family: 'Oxanium', cursive;
}

.project-write p {
  font-size: 1.3rem;
  text-shadow: 0px 0.05rem 0.75rem black;
  line-height: 5vh;
  font-weight: 500;
  text-align: center;
  color: #96bfe2;
}

.project-image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-image img {
  cursor: pointer;
  width: 90%;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 2px 20px 90px black;
          box-shadow: 2px 20px 90px black;
  -webkit-box-shadow: 0px 20px 90px rgba(0, 0, 0, 0.654);
          box-shadow: 0px 20px 90px rgba(0, 0, 0, 0.654);
  -webkit-transition: -webkit-transform ease-in-out 500ms;
  transition: -webkit-transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms, -webkit-transform ease-in-out 500ms;
}

.project-image img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.tools-used {
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.work-in-progress {
  color: #fff;
  font-weight: 900;
  font-size: 0.9rem;
  font-family: 'Satisfy', cursive;
}

/*===== FOOTER SCSS =====*/
#footer {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #5B63B7;
}

#footer p.copyright {
  position: absolute;
  margin-top: 85vh;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-shadow: 1px 0px 10px black;
}

#footer-container {
  width: 100%;
  height: 95%;
  position: relative;
}

.tab-content {
  margin: 0 auto;
  width: 70%;
  width: 70vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  margin-top: 40px;
  opacity: 0;
  padding: 6px 50px;
  border-top: none;
  height: calc(100vh - 200px);
  -webkit-transition: -webkit-clip-path 1s ease-in;
  transition: -webkit-clip-path 1s ease-in;
  transition: clip-path 1s ease-in;
  transition: clip-path 1s ease-in, -webkit-clip-path 1s ease-in;
  position: absolute;
  background-color: goldenrod;
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
  z-index: 0;
}

.tab-content[style*='opacity: 1'] {
  opacity: 1;
  -webkit-clip-path: circle(400% at 50% 150%);
          clip-path: circle(400% at 50% 150%);
}

.tab-content.active[style*='opacity: 1'] {
  z-index: 1;
}

#send-email-button {
  cursor: pointer;
  right: 20px;
  padding: 10px 12px;
  position: absolute;
  bottom: 30px;
  color: #000;
  background-color: goldenrod;
  font-size: 17px;
  font-size: 0.7rem;
  border-radius: 50%;
  -webkit-transition: background ease-in-out 750ms, color ease-in-out 750ms;
  transition: background ease-in-out 750ms, color ease-in-out 750ms;
  border: none;
}

i.fa.fa-envelope {
  font-size: 0.8rem;
}

#send-email-button:hover {
  color: #ccc;
  background-color: #5B63B7;
  -webkit-box-shadow: 0px -1px 2px #000;
          box-shadow: 0px -1px 2px #000;
}

#contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Oxanium', cursive;
  font-family: 'Poppins', sans-serif;
}

#contact-me #non-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

#contact-me h3 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Oxanium', cursive;
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.678);
}

#contact-me p {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  line-height: 1.5rem;
  font-size: 0.85rem;
  color: #ED5E93;
  color: #deced4;
  color: rgba(222, 206, 212, 0.832);
  color: #5B63B7;
  color: black;
  font-weight: 400;
  text-shadow: 1px 0 5px rgba(255, 255, 255, 0.5);
  text-align: center;
}

#non-socials__left {
  margin-bottom: 50px;
}

p#front-end-footer {
  font-size: 0.85rem;
}

#socials {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#socials i {
  cursor: pointer;
  margin: 0 10px;
  font-size: 2rem;
}

.linkedin-logo,
.github-logo {
  display: inline-block;
  border-radius: 10px;
  color: goldenrod;
  background-color: #5B63B7;
  padding: 8px 10px;
  -webkit-transition: background ease-in-out 1000ms, color ease-in-out 1000ms;
  transition: background ease-in-out 1000ms, color ease-in-out 1000ms;
}

.linkedin-logo:hover,
.github-logo:hover {
  background-color: goldenrod;
  color: #5B63B7;
}

a.my-resume {
  margin-top: 0.75rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: 'Oxanium', cursive;
  -webkit-transition: all ease-in-out 750ms;
  transition: all ease-in-out 750ms;
}

a.my-resume:not(.view):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.view {
  font-size: 0.9rem;
  font-weight: 600;
  color: #ccc;
  color: rgba(0, 0, 0, 0.65);
  font-family: 'Oxanium', cursive;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.contact_area_info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  text-align: center;
}

.contact_area_info button {
  margin-top: 5px;
  font-family: 'Oxanium', cursive;
  width: 200px;
  height: 45px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
  background: #5B63B7;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75), -2px -2px 20px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75), -2px -2px 20px rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  cursor: pointer;
  border: none;
  padding: 10px 30px;
  -webkit-transition: all ease-in-out 1000ms;
  transition: all ease-in-out 1000ms;
}

.contact_area_info button:hover {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  background: goldenrod;
  color: #000;
  text-shadow: none;
  font-weight: 300;
}

form {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.contact_area_info {
  min-height: 300px;
  font-family: 'Oxanium', cursive;
  padding: 10px;
}

#the_form {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#the_form input, #the_form textarea {
  color: white;
  color: rgba(0, 0, 0, 0.853);
  font-weight: 400;
  font-size: 15px;
  border-radius: 5px;
  padding: 7px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #5B63B7;
  font-family: 'Oxanium', cursive;
  letter-spacing: 1px;
  margin: 12px 0px;
}

#the_form input:focus, #the_form textarea:focus {
  border-bottom: 1px solid #fff;
}

#the_form input {
  height: 18px;
  width: 300px;
}

#the_form textarea {
  height: 200px;
  max-height: 200px;
  line-height: 22px;
  width: 320px;
}

@media screen and (min-width: 450px) {
  #contact-me #non-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 40px;
  }
  .landing {
    background: url(https://otavie.github.io/portfolio_v2/img/h.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-transition: background 5s ease-in-out;
    transition: background 5s ease-in-out;
    -webkit-transition-delay: 7s;
            transition-delay: 7s;
  }
}

@media screen and (min-width: 600px) {
  .project-write h3 {
    margin-top: 0;
  }
  .project-write {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .project-image {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    min-height: 45%;
  }
  .project-image img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .project-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .second .inner {
    padding: 0 0rem;
  }
  .logo {
    background-color: rgba(255, 255, 255, 0.61);
    z-index: 1;
  }
  .first .skills img {
    padding: 10px 10px;
  }
  .inner .writeup h1 {
    font-family: 'Satisfy', cursive;
    font-size: 10rem;
  }
  .inner .writeup h3 {
    letter-spacing: 0.4rem;
    margin-top: -2.5rem;
    font-size: 1.16rem;
  }
  .para_content {
    font-size: 1.25rem;
    line-height: 7vh;
    padding: 0 1.5rem;
  }
  section {
    height: 100vh;
  }
  .inner h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 800px) {
  /*===== PROJECT SCSS =====*/
  #project-container {
    width: 85vw;
  }
  /*===== FOOTER SCSS===== */
  #footer-container {
    width: 80%;
  }
  #send-email-button {
    cursor: pointer;
    right: -60px;
    bottom: 10px;
  }
  #contact-me h3 {
    font-size: 1.5rem;
  }
  #contact-me p {
    font-size: 0.9rem;
  }
  #the_form input {
    height: 18px;
    width: 500px;
  }
  #the_form textarea {
    line-height: 22px;
    width: 520px;
  }
  h2.subtitle {
    font-size: 1.2rem;
    margin-top: -0.625rem;
  }
  .para_content {
    font-size: 1.35rem;
    line-height: 6vh;
    padding: 0 1rem;
  }
  .inner h1 {
    font-size: 4rem;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .skillsbars_1 {
    width: 620px;
    -webkit-transition: all 1500ms ease-in-out;
    transition: all 1500ms ease-in-out;
  }
  .skillsbars_2 {
    width: 600px;
    -webkit-transition: all 1500ms ease-in-out;
    transition: all 1500ms ease-in-out;
  }
}

@media screen and (min-width: 900px) {
  .para_content {
    font-size: 1.4rem;
    padding: 0 1.5rem;
  }
  .inner h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 910px) {
  .para_content {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .para_content {
    padding: 0 7rem;
  }
}

@media screen and (max-width: 395px) {
  #send-email-button {
    padding: 10px;
    bottom: 20px;
    z-index: 2;
    -webkit-box-shadow: 1px 0px 5px black, 0px 0px 1px black;
            box-shadow: 1px 0px 5px black, 0px 0px 1px black;
  }
}
